body
{
	background: #8080803d;
	margin: 0;
	padding: 0;
}
.icon_place
{
	width: 100%;
}
#icon_style
{
	font-size: 37px;
	margin: 4px
}
.menu-list
{
	text-decoration: none;
	list-style:none;
	display: inline-block;
	float: right;
	font-size: 24px;
	margin-right: 42px;
	margin-top: -10px;
}
ul
{
	margin-top: -28px;
}
.menu-list>a
{
	padding-right: 10px;
}
.banner
{
	background: url('images/bb.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}
.btn_style
{
	padding-left: 5px;
    position: relative;
    left: 24px;
    top: 6px
}